
// Dummy mixin to perform the loop
.loop(@indx: 1) when (@indx < length(@icons)) {

  @itr-key:            extract(@icons, @indx);
  @itr-height-anim:    extract(@icons, @indx + 1);
  @itr-height-anim-2x: (@itr-height-anim * 2);

  @itr-animation-steps: (@itr-height-anim / @height);

  // Icon-specific durations for the different speeds
  .sc.sc-@{itr-key} {
    -webkit-animation-duration: unit((@itr-animation-steps / @animation-duration-fps), s);
    animation-duration: unit((@itr-animation-steps / @animation-duration-fps), s);

    &.sc-slow {
      -webkit-animation-duration: unit((@itr-animation-steps / @animation-duration-fps-slow), s);
      animation-duration: unit((@itr-animation-steps / @animation-duration-fps-slow), s);
    }

    &.sc-fast {
      -webkit-animation-duration: unit((@itr-animation-steps / @animation-duration-fps-fast), s);
      animation-duration: unit((@itr-animation-steps / @animation-duration-fps-fast), s);
    }

    // Icon-specific animation information
    &,
    &.sc-hover:hover {
      -webkit-animation-timing-function: steps(@itr-animation-steps);
      animation-timing-function: steps(@itr-animation-steps);

      -webkit-animation-name: ~'@{animation-name-prefix}@{itr-key}';
      animation-name: ~'@{animation-name-prefix}@{itr-key}';

      background-image: ~"url(@{path}@{itr-key}@{basename-suffix-frames-sprite}.png)";

      &.sc-2x {
        -webkit-animation-name: ~'@{animation-name-prefix}@{itr-key}@{animation-name-suffix}';
        animation-name: ~'@{animation-name-prefix}@{itr-key}@{animation-name-suffix}';

        background-image: ~"url(@{path}@{itr-key}@{basename-suffix-frames-sprite}@{basename-suffix-retina}.png)";
      }
    }

    // Icon-specific sprite offset for non-animation mode
    &.sc-still,
    &.sc-hover {
      background-position: (-1 * unit(((@indx - 1) * @width / 2), px)) 0;

      &.sc-2x {
      background-position: (-1 * unit(((@indx - 1) * @width), px)) 0;
      }
    }
  }

  // Icon-specific keyframe functions
  @-webkit-keyframes ~'@{animation-name-prefix}@{itr-key}@{animation-name-suffix}' {
    0% { background-position: 0 0; }
    100% { background-position: 0 (-1 * unit(@itr-height-anim-2x, px)); }
  }
  @keyframes ~'@{animation-name-prefix}@{itr-key}@{animation-name-suffix}' {
    0% { background-position: 0 0; }
    100% { background-position: 0 (-1 * unit(@itr-height-anim-2x, px)); }
  }

  @-webkit-keyframes ~'@{animation-name-prefix}@{itr-key}' {
    0% { background-position: 0 0; }
    100% { background-position: 0 (-1 * unit(@itr-height-anim, px)); }
  }
  @keyframes ~'@{animation-name-prefix}@{itr-key}' {
    0% { background-position: 0 0; }
    100% { background-position: 0 (-1 * unit(@itr-height-anim, px)); }
  }

  // Repeat the loop
  .loop(@indx + @list-interval);
}

// Initialize the loop call
.loop();
