
.sc {
  display: inline-block;
  position: relative;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;

  width: unit(@width, px);
  height: unit(@height, px);

  // Double the dimensions for retina.
  &.sc-2x {
    width: (@retina-factor * unit(@width, px));
    height: (@retina-factor * unit(@height, px));
  }

  // Prevents animation for still mode.
  &.sc-still,
  &.sc-still.sc-2x {
    -webkit-animation: none;
    animation: none;
  }

  // Prevents animation when in hover mode.
  &.sc-hover,
  &.sc-hover.sc-2x {
    -webkit-animation-name: unset;
    animation-name: unset;
  }

  // Animates the icon (idle and hover).
  &,
  &.sc-hover:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  // Set background sprite image for non-animation modes.
  &.sc-still,
  &.sc-hover {
    background-image: %(~"url(%s%s.png)", @path, @basename-stills-sprite);

    &.sc-2x {
      background-image: %(~"url(%s%s%s.png)", @path, @basename-stills-sprite, @basename-retina);
    }
  }
}
